:local .app {
  text-align: center;
}

:local .logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
}

:local .header {
  background-color: #61dafb;
  height: 54px;
  box-sizing: border-box;
  padding: 13px;
  display: flex;
}

:local .link {
  color: #61dafb;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

