
.comic_nav_ul {
  display: flex;
  li {
    flex-grow: 1;
    a{
      display: flex;
      flex-direction: column;
      i{
        font-size: 1.3rem;
        text-align: center;
        box-sizing: border-box;
        height: 1.8rem;
        width: 100%;
      }
      span{
        font-size: 15px;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.comic_title {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 2rem;
  justify-content: space-between;
  font-size: 0;
  padding:0 10px;
  .title-content {
    background-size: 22.5rem 17.5rem !important;
    width: 7.5rem;
    height: 2rem;
  }
  a{
    display: block;
    width: 3rem;
    height: 1.25rem;
    background-size: 20.5rem 17.5rem !important;
    font-weight:lighter
  }
}

.comic_br {
  height: .5rem;
  background-color: white;
}

.ts_img {
  background-color: #61dafb;
  height: 100%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

