.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #000;
}

.container-row {
  flex-direction: row;
}

.container-column {
  flex-direction: column;
}

.fbox {
  flex-grow: 1;
}
